{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        In this stage, you will be randomly paired with another player.
        This player was not among the players you interacted with, and could be in the Green or the Purple group as assigned in the previous stage.
        One of you will be Player A and the other Player B.
        <b>At the end of the stage</b> you will learn your role, which will be randomly assigned, and your final payoff.
    </p>
    <p>
        Based on your assigned role your payoff will be determined as follows:
    <li>There are {{ Constants.endowment }} to be split between Player A and Player B.</li>
    <li>Player A will decide how much she or he wants to send to Player B, this will be Player B's payoff.</li>
    <li>The rest will be Player A's payoff. </li>
    </p>
</div>
</div>