{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'custom.css' %}" rel="stylesheet">
{% endblock %}



{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Summary of the previous round" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper">


        <p>In the table below you can see how many times each participant was chosen as beneficiary and the total payoff until this round. </p>
        <div class="card">

        <table class="table"> <tr>
            <th>Player ID</th>
            <th>Times Beneficiary</th>
            <th>Payoff</th>
            <th>Colour</th>
        </tr>
            <tr>
                <td>1</td>
                <td>{{ P1 }}</td>
                <td>{{ P1_p }}</td>
                <td style="color:#4CAF50"> Green </td>
            </tr>
            <tr>
                <td>{{ 2}}</td>
                <td>{{ P2 }}</td>
                <td>{{ P2_p }}</td>
                <td style="color:#7a0c72"> Purple </td>
            </tr>
            <tr>
                <td>{{ 3}}</td>
                <td>{{ P3 }}</td>
                <td>{{ P3_p }}</td>
                <td style="color:#4CAF50"> Green </td>
            </tr>
            <tr>
                <td>{{ 4}}</td>
                <td>{{ P4 }}</td>
                <td>{{ P4_p }}</td>
                <td style="color:#7a0c72"> Purple </td>
            </tr>
        </table>
    </div>
          </div>
{% next_button %}
{% endblock   %}