{%  extends 'otree/WaitPage.html' %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% trans "Thank You!" %}
{% endblock %}

{% block content %}

        <div class="wrapper instructions">
Thank you for attending our study! Unfortunately, we do not have enough participants for you to continue.

    </div>

{% endblock %}